@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');

* {
    font-family: 'Mandali',
    sans-serif;
    
    font-size: 20px;
}
/* index.php fajl  */
h1 {
    text-align: center;
    font-size: 55px;
    margin-top: 250px;
}

.zaposlenidiv {
    margin-top: 80px;
}

.zaposlenidiv {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.zaposlenidiv button {
    width: 300px;
    height: 100px;
    border-radius: 25px;
}

/* index.php fajl  */


/* pretraga.php  */
.pretraga {
    margin-top: 25px;
    margin-left: 700px;
}

#searchtabela,
#tabelasort {
    margin-top: 30px;
    width: 1200px;
    margin-left: 400px;
}

#tabelaZaposleni {
    margin-top: 10px;
    width: 1200px;
    margin-left: 120px;
}

#dodajZaposlenog {
    margin-top: 35px;
    margin-left: 550px;
}